/*HORARIOS*/
.titulotabla {
    font-size: xx-large;
}

.dias_tabla {
    font-weight: bold;
    font-size: large;
}

.dias_lav{
    color: rgb(74, 172, 174);
}

.dias_sab {
    color: rgb(44, 117, 118);
}

.dias_dyf {
    color: rgb(9, 64, 65);
}

.horarios {
    font-style: italic;
    font-size: medium;
}
